---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oops">
  <h1
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white font-bold text-4xl text-center"
  >
    Oops It seems this section is not available. I'm waiting for Musk's purchase
    to incorporate the rest 😜
  </h1>
</Layout>
