<script>
  import gsap from "gsap";

  let tl = gsap.timeline({ defaults: { ease: "power4.out" } });

  tl.from(".animate-text-1 span", {
    textContent: 0,
    duration: 3,
    snap: { textContent: 1 },
  })
    .from(
      ".animate-text-2 span",
      {
        textContent: 0.01,
        duration: 2,
        snap: { textContent: 1 },
      },
      "0.5",
    )
    .from(
      ".animate-text-3 span",
      {
        textContent: 0.01,
        duration: 5,
        snap: { textContent: 1 },
      },
      "0.8",
    )
    .from(
      ".animate-text-4 span",
      {
        textContent: 0.01,
        duration: 5,
        snap: { textContent: 1 },
      },
      "1.2",
    );
</script>

<div
  class="text-white grid lg:flex justify-center lg:justify-between align-center grid-cols-2 gap-5 lg:gap-0 text-center backdrop-blur-xl bg-black/25 py-2 px-4  border border-white/10 rounded-lg"
>
  <div>
    <h3 class="font-thin uppercase opacity-50">Est-Range</h3>
    <p class="font-thin uppercase animate-text-1"><span>320</span> mi</p>
  </div>
  <div>
    <h3 class="font-thin uppercase opacity-50">0-60 mph</h3>
    <p class="font-thin uppercase animate-text-2"><span>3</span> sec</p>
  </div>
  <div>
    <h3 class="font-thin uppercase opacity-50">TOWING CAPACITY</h3>
    <p class="font-thin uppercase animate-text-3"><span>11000</span> lbs</p>
  </div>
  <div>
    <h3 class="font-thin uppercase opacity-50">TOP SPEED</h3>
    <p class="font-thin uppercase animate-text-4"><span>130</span> mph</p>
  </div>
</div>
